html {
  background-image: linear-gradient(135deg, #CC95C0, #DBD4B4, #7AA1D2);

  /*Text Font Parameters*/
  text-align: center;
  font-family: Trebuchet MS, bold;
}

li {
  font-size: 18px;
}

@media screen and (min-width: 601px) {
  div.device-scrn {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  div.device-scrn {
    font-size: 10px;
  }
}

li {
  text-align: left;
}
div {
  /*Box Dimension Parameters*/
  width: auto;
  border-radius: 5px;
}
    
.section{
  /*Box Dimension Parameters*/
  padding: 1px;
  margin-top: 10px;
  margin-bottom: 10px;

  /*Box Style Parameters*/
  /*box-shadow: 0px 15px 25px -20px grey;*/
  border-radius: 5px;
}

.prod {
  /*Box Style Parameters*/
  background-image: linear-gradient(135deg, #00897b, #1f4037);
}
   
.qc {
  /*Box Style Parameters*/
  background-image: linear-gradient(135deg, #482980, #4A00E0);
}

.btn-section {
  /*Box Style Parameters*/
  padding: 10px;
  background-image: linear-gradient(135deg, #0F2027, #203A43, #2C5364);
}

.text-white {
  /*Text Font Parameters*/
  color: white;
}
    
.row-title {
  /*Box Dimension Parameters*/
  margin-top: 10px;
     
  /*Text Font Parameters*/
  font-size: 3vw;
  font-weight: bold;
}

.column {
  /*Box Dimension Parameters*/
  width: 16%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;

  /*Box Style Parameters*/
  /*background-color: rgba(255, 255, 255, .5);*/
  background-color: #ffffff;
  backdrop-filter: blur(5px);
  display: inline-block;
  float: center;

  /*Text Font Parameters*/
  font-size: 2vw;
}

.button {
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.btn-subscribe {
  background-color: white; 
  color: black; 
  border: 3px solid #4CAF50;
}

.btn-subscribe:hover {
  background-color: #4CAF50;
  color: white;
}

.btn-unsubscribe {
  background-color: white; 
  color: black; 
  border: 3px solid #008CBA;
}

.btn-unsubscribe:hover {
  background-color: #008CBA;
  color: white;
}
